.form {
    display: flex;
    flex-direction: column;
}

.form fieldset {
    margin-bottom: 15px;
}

.form input, .form div{
    width: 100%;
}


.form label::after, .form span {
    content: " *";
    color: red;
}

#id {
    color: var(--color-purple-1);
}